<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<!-- edit allows for you to edit an entry -->
<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
  	<%= f.label :last_name %><br>
  	<%= f.text_field :last_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>