<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.dob %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
